//************************
//** COLORS
//************************

$primary: #7C3AED;
$primary-75: #A78BFA;
$primary-50: #C4B5FD;
$primary-25: #DDD6FE;
$primary-10: #EDE9FE;

$secondary: #E11D48;
$secondary-75: #FB7185;
$secondary-50: #FDA4AF;
$secondary-25: #FFE4E6;

$tertiary: #D4D4D8;

$red:  #DC2626;
$red-25: #FCA5A5;
$red-10: #FEE2E2;

$grey-02: #FAFAF9;
$grey-05: #F5F5F4;
$grey-10: #E7E5E4;
$grey-20: #D6D3D1;
$grey-30: #A8A29E;
$grey-40: #78716C;
$grey-50: #57534E;
$grey-60: #44403C;
$grey-70: #292524;
$grey-80: #1C1917;
$grey-90: #0C0A09;


// Color aliases for retrocompatibility
$black: #000;
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$white: #FFFFFF;

// Primary colors
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary-dark: $primary-50;
$primary-background: $primary-25;

// Secondary colors
$secondary-light: $secondary-50;
$secondary-dark: #BE123C;

//Status colors
$green-light: #DCFCE7;
$red-light: lighten($red, 12%);
$my-sin: #F59E0B;
$yellow-green: #65A30D;

//Card color
$card: #FDF2F8;
$card-hover: #FCE7F3;
$card-dark: #FBCFE8;

$tribe-primary: #6D28D9;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: #111827;
$dropdown-color: rgba(darken($grayer, 20%), 1);
$code-bg: #1F1B24;

$highlight: #FEF3C7;

// TAIGA 6

// Primary colors
$color-solid-primary: #EDE9FE;
$color-link-primary: #7C3AED;
$color-link-tertiary: #57534E;

// Grayscale
$color-gray100: #FAFAF9;
$color-gray200: #E7E5E4;
$color-gray300: #D6D3D1;
$color-gray400: #A8A29E;
$color-gray800: #292524;

$color-black600: #57534E;
$color-black700: #44403C;
$color-black800: #292524;
$color-black900: #1C1917;

// State colors
$color-link-red: #DC2626;
$color-link-orange: #EA580C;
$color-link-yellow: #EAB308;
$color-link-green: #16A34A;
$color-link-purple: #9333EA;

// State colors
$color-solid-red: rgba($color-link-red, .25);
$color-solid-orange: rgba($color-link-orange, .25);
$color-solid-yellow: rgba($color-link-yellow, .25);
$color-solid-green: rgba($color-link-green, .25);
$color-solid-purple: rgba($color-link-purple, .25);

$color-white: #FFFFFF;
$color-black: #000000;

//Helpers
$default-tags: #A8A29E;

//Loading colors
$loading-color-1: #F472B6;
$loading-color-2: #F59E0B;
$loading-color-3: #84CC16;
$loading-color-4: #22D3EE;
$loading-color-5: #A78BFA;
